body {
    background:peru
    /*background:peachpuff;*/
}
#idSistema {
    width:50px;
    text-align: left;
}
#descSistema {
    width:500px;
    text-align: justify;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large
}
#custoPF {
    background:peachpuff;
    border:none;
    padding-left:10px; 
}
input[type=text] {
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background:yellow; 
    border:1px solid #000000;
    width:50px;
    text-align: right;
}

#secao1 {
    display:block;
    visibility: visible;
}

#secao2 {
    display:none;
    visibility: visible;
}
#proprietario {
    font-family: cursive;
    color:pink;
}

.descAIE, .descALI, .descEE, .descSE, .descCE {
    margin-left:100px;
}
/* #input {
    width: 100%;
    margin-right: 0px;
} */